@import "../../style/base.scss";

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  text-align: center;
  color: $white;

  // Paint Brush Background
  img {
    user-select: none;
  }

  // Elements
  div {
    margin: 12px;
  }

  // Typed
  span {
    color: $white;
    margin-top: 58px;
    font-size: 20px;
    font-weight: $medium;
  }

  // Auth Links
  a {
    color: $white;
    padding: 8px;
    margin-bottom: 4px;
    font-weight: $heavy;
  }
}

.home-header {
  color: $white;
  font-weight: $semibold;
  font-size: 36px;
}

.home-snippet {
 
  color: $white;
  font-weight: $semibold;
  
}

.home-paint {
  position: absolute;
  width: 300px;
  z-index: -1;
  opacity: 0;
  filter: saturate(0.75);
  transform: rotate(45deg);
}

.home-bg {
  position: absolute;
  height: 60%;
  z-index: -1;
  width: 50%;
  min-width: 400px;
  
  user-select: none;
  border-radius: 50px;
  
}