@import "../../style/base.scss";

a {
	text-decoration: none;
	color: #9ca0b1;
}

@keyframes textclip {
	to {
		background-position: 200% center;
	}
}

.wrapper {
	text-align: center;
	h1 {
		color: #fff;
		font-size: 92px;
		font-family: "ubuntu";
		text-transform: uppercase;
		font-weight: 700;
		font-family: "Josefin Sans", sans-serif;
		background: linear-gradient(to right, #FF3333 10%, #FFCCE5 50%, white 60%);
		background-size: auto auto;
		background-clip: border-box;
		background-size: 200% auto;
		color: #fff;
		background-clip: text;
		text-fill-color: transparent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		animation: textclip 1.5s linear infinite;
		display: inline-block;
	}
}

.whole-page {
  position: absolute;
  // background: url("https://images.squarespace-cdn.com/content/v1/54c11785e4b00c958789156d/1422051952480-TMFFYEYD0HZ0Y6ON18L9/ke17ZwdGBToddI8pDm48kKDD9K8EWjxZpuR9yHkNE4V7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0jRb3i7UjwNNySrgFE_nWavTQzA2ahqAmkdz52KBMJ8uLGt_Pq0peEvgS3RKfmm4cw/med_tech_banner.jpg?format=1500w") no-repeat center center fixed;
  // background-color:violet; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 100%;
}

.buttonSide {
  display:flex;
  flex-direction:row;
  justify-content:space-around !important;
  margin:20px;
}

.home {
  width:190px;
  height:50px;
}

.typed {
  margin-top:20px !important;
}

p {
  color:#00416A;
  text-align:center;
  font-size:24px;
}

.home-snippet {
  font-family:sans-serif;
}

.textloop {
  margin-right:10px;
}

.fa-heartbeat {
padding:10px;
}

.github {
  color:white;
  display:flex;
  flex-direction:row;
  justify-content: center;
  justify-content: space-around;
  margin-top:250px;
  background-color: #e4e5e6;
  border-top:15px solid #e4e5e6;
}

.gitId {
  text-align:center;
  display:flex;
  flex-direction:column;
  background-color:#00416A;
  width:400px;
  border-right:5px solid #e4e5e6;
  
}

.register-background {
  position: absolute;
  background: #00416a;
  background: -webkit-linear-gradient(to top, #00416a, #e4e5e6);
  background: linear-gradient(to top, #00416a, #e4e5e6);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 140%;
background-attachment: scroll;
}

.login-background {
  position: absolute;
  background: #00416a;
  background: -webkit-linear-gradient(to top, #00416a, #e4e5e6);
  background: linear-gradient(to top, #00416a, #e4e5e6);
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
width: 100%;
height: 100%;
background-attachment: scroll;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 72px;
  text-align: center;
  color: $white;
  background-color: rgba(0,0,0,0.5) !important;
  

  // Paint Brush Background
  img {
    user-select: none;
  }

  // Elements
  div {
    margin: 12px;
  }

  // Typed
  span {
    color: $white;
    margin-top: 58px;
    font-size: 20px;
    font-weight: $medium;
  }

  // Auth Links
  a {
    color: $white;
    padding: 8px;
    margin-bottom: 4px;
    font-weight: $heavy;
  }
}

.home-header {
  color: $white;
  font-weight: $semibold;
  font-size: 36px;
}

.home-snippet {
 
  color: $white;
  font-weight: $semibold;
  font-size:17px
  
}

.home-paint {
  position: absolute;
  width: 300px;
  z-index: -1;
  opacity: 0;
  filter: saturate(0.75);
  transform: rotate(45deg);
}

.home-bg {
  position: absolute;
  height: 60%;
  z-index: -1;
  width: 50%;
  min-width: 400px;
  user-select: none;
  border-radius: 50px;
}

.whole-card {
  padding:0 !important;
  margin:0 !important;
}

.card-heading {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0px;
}

.card-heading h2 {
margin-left: 5%;
}

.card-info {
 margin-top:15px;
  // padding-bottom:15px;
  border-bottom: 1px solid black;
  padding:5%;
}

.card-buttons {
  padding:5% !important;
}

.unsubscribe-button {
  margin-left: 5% !important;
}

@media screen and (max-width: 768px) {
    .wrapper {
        text-align: center;
        h1 {
            font-size: 30px;
        }
    }
  }