.red {
    background-color:#ff0000;
    color:#fff;
}

.black {
    background-color:#000;
    color:#fff;
}

.teal {
    background-color:#008081;
    color:#fff;
}

.lime {
    background-color:#bfff00;
    color:#fff;
}

.ember {
    background-color:#f05e1b;
    color:#fff;
}   

.blue-gray {
    background-color:#6699cc;
    color:#fff;
}

.pink {
    background-color:#ffc0cb;
    color:#fff;
}

.purple {
    background-color:#9400d3;
    color:#fff;
}

.orange {
    background-color:#ffa500;
    color:#fff;
}

.light-purple {
    background-color:#9c91cb;
    color:#fff;
}

.orange {
    background-color:#ffa500;
    color:#fff;
}

.forest {
    background-color:#5ac18e;
    color:#fff;
}

.dark-purple {
    background-color:#320032;
    color:#fff;
}

.night {
    background-color:#333333;
    color:#fff;
}

.robin {
    background-color:#6d2828;
    color:#fff;
}

.gray {
    background-color:#7a7e87;
    color:#fff;
}