@import "colors";

html, #root, .App {
  height: 100%;
  width: 100%
}


// these 2 classes change all the background-colors for our app
body {
  min-height: 100%;
  width: 100%;
  overflow: auto;
background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.whole-profile {
  background: #00416A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 80px;
  padding-bottom: 80px;
  height: 100%;
}

// / .main-doctortabs, .main-patienttabs {
  //   flex-grow: 1;
  //   height: 100%;
  //   background: #00416A;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #E4E5E6, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #E4E5E6, #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
  // }


.flex {
    display: flex;
}
.flex-direction-column {
    flex-direction: column;
}
// Start CSS of / page
.flex-wrap {
    flex-wrap: wrap;
}
.main-box {
    display: flex;
}
.localProfileGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 3em;
    padding: 2em;
}

.bar {
    background-color:#2F403E !important;
    // background-color:rgb(55,111,119) !important;
    color: white;
}
.profile-bar, .doctor-bar, .patient-bar {
  background-color:#2F403E !important;
  // background-color:rgb(55,111,119) !important;
  position: relative !important;
}

.employee-find {
  padding:20px !important;
}
.employee-table {
  padding-left:50px !important;
}

.patient-table-row {
padding-left: 30px !important;
}

th, td {
  padding-left: 30px !important;
}

td a {
  color: black;
}

.searchCard {
    justify-content: space-between;
    align-items: baseline;
}
.flex-center {
    align-items: center;
}
.flex-end {
    justify-content: flex-end;
}

.grid-tab {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
}

.creditsPos {
    margin-bottom: 1em;
}

.infoItemMargin {
    margin-right: 1em;
}

.ml-auto {
    margin-left : auto;
}

.iconMargin {
    margin-right: 3px;
}

.profileGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 3em;
}

a {
    text-decoration: none;
}

.emergencyPanel {
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-schedule {
    display: grid;
    grid-template-columns: 50% auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 1em;
    grid-column-gap: 2vw;
}

.universityInfo {
    grid-column: 1/4;
}

.gridCardProdile {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
}

.centerize {
    grid-column: 2/4;
    margin-top: 10vh;
}    



.stats-quantity {
    grid-area: 1 / 1 / 2 / 2;

}

.register-err {
    color: red;
    font-size: 14px;
}

.stats-sex {
    grid-area: 1 / 2 / 2 / 4;
}



.stats-ages {
    grid-area: 1 / 4 / 2 / 7;
}

.stats-visits {
    grid-area: 2 / 1 / 3 / 4;

}

.stats-satisfaction {
    grid-area: 2 / 4 / 3 / 6;

}

.stats-month {
    grid-area: 2 / 6 / 3 / 7;
}

@import "scheduler";


@media only screen and (max-width: 1000px) {
    .localProfileGrid, .profileGrid {
        display: flex;
        flex-direction:column;
        padding: 2em;
        font-size:11px;
    }
  }