// Base Colors
$white: #ffffff;
$black: #000000;
$lightGray: #dadada;
$primaryGray: #aaaaaa;
$primaryDark: #484848;
$primaryBlue: hsl(235, 100%, 63%);
$primaryRed: #d9605a;

@mixin primaryGradient {
  background: linear-gradient(270deg, #3f0d12 0%, #a71d31 50%, #fd9d52 100%);
  background-image: linear-gradient(
    270deg,
    #3f0d12 0%,
    #a71d31 50%,
    #fd9d52 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  


@mixin primaryGradientBtn {
  background: linear-gradient(270deg, #943cff 0%, #dd45d3 50%, #fd9d52 100%);
  background-image: linear-gradient(
    270deg,
    #943cff 0%,
    #dd45d3 50%,
    #fd9d52 100%
  );
  color: $white;
}

   //login form
    .login-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    width: 10vw;
    margin: 8vh auto 0 auto;
}

.home {
  border: 2px solid $white;
  border-radius: 12px;

}

.home:hover {
  background-color: white;
  color:#00416A;
  text-decoration: none;
}
          

// Font weights
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;